.delete-review-modal {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.delete-review-modal h1 {
  margin: 0;
  font-size: 24px;
}

.delete-review-modal p {
  margin: 0;
  text-align: center;
}

.delete-review-modal button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.delete-review-button {
  background-color: #FF385C;
  color: white;
}

.keep-review-button {
  background-color: #767676;
  color: white;
}

.delete-review-button:hover {
  background-color: #e82d4f;
}

.keep-review-button:hover {
  background-color: #636363;
}