.spotImage-container{
    margin: 5px;
}
.spotImage{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.card-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}