#modal-content {
    border-radius: 12px;
    padding: 50px;
    padding-left: 20px;
    padding-top: 5px;
}



.stars-input {
    display: flex;
    justify-content: center;
}

.stars-input span {
    margin-left: 8px;
    font-size: 14px;
}



.error {
    color: #FF385C;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.server-error {
    text-align: center;
    margin-bottom: 12px;
}

.submit-review-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.submit-review-button:hover {
    background-color:  #636363;
}
