#modal-content {
    border-radius: 12px;
    padding: 50px;
    padding-left: 20px;
    padding-top: 5px;
}



.stars-input {
    display: flex;
    justify-content: center;
}

.stars-input span {
    margin-left: 8px;
    font-size: 14px;
}



.error {
    color: #FF385C;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.server-error {
    text-align: center;
    margin-bottom: 12px;
}

.submit-review-button {
    width: 100%;
    padding: 14px;
    background-color: #FF385C;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.submit-review-button:hover {
    background-color:  #636363;
}
.submit-review-button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}