.profile-button-container {
    position: relative;
}

.profile-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 5px 5px 12px;
    border: 1px solid #dddddd;
    border-radius: 21px;
    cursor: pointer;
    background: white;
}

.profile-button svg:first-child {
    font-size: 16px;
    color: #222222;
}

.profile-button svg:last-child {
    font-size: 28px;
    color: #222222;
}

.profile-dropdown {
    position: absolute;
    right: 0;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 0;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
    min-width: 240px;
    z-index: 1000;
    padding: 8px 0;
}
.list-div-element {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-dropdown.hidden {
    display: none;
}
.logout-button-container {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px auto;
    font-size: 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
li:hover {
    background-color: lightgray;
}
ul {
    list-style-type: none;
}
.logout-button {
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 8px 20px;
    margin: 8px auto;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
}
.logout-button:hover{
    background-color: rgb(86, 86, 86);
}